.resize {
  height: 80%;
  width: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.fixdiv {
  height: auto;
  width: auto;
  margin-right: 2%;
  margin-left: 4%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.otherprops {
  margin-bottom: 2%;
}

.fixbutton {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
}

#myBtn {
  display: inline; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: blue; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

#myBtnR {
  display: inline; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 100px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: crimson; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtnR:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
